html{
    font-size: 62.5%; 
    font-family: 'Radio Canada', sans-serif;
}

body{
    background: url(../img/space.jpg);
    background-repeat: repeat;
    height: 100%;
    background-position: center;
    background-size: cover;  
}

