.mainExp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 45px;
    @include mediaQuerry(lg){
        flex-direction: row;
        justify-content: space-evenly;
    }

    div{
        
       .titulo2{
          text-align: center;
          font-size: 4rem;
          color: $colorT;
          text-decoration: underline $colorP;
      }

      .aboutMe{
          color: $colorT;
          text-align: center;
          margin: 10px 20px;
          font-size: 2.5rem;
          max-width: 70rem;
          @include mediaQuerry(lg){
            max-width: 54rem;
          }
      }
    }

    .expContainer{
        display: flex;
        flex-direction: column;
        gap: 20px;
        transform: rotate(45deg);

        .exp{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: auto;  
            gap: 20px; 

            .expCard1, .expCard2, .expCard3, .expCard4{
                @include tarjetaExp
            }
                
            .expCard1{
                font-size: 5rem;
                color: #FF5733;

                .iconoHtml{
                    transform: rotate(-45deg);
                }

                &:hover{
                    transform: scale(1.3) rotate(90deg);
                    background-color: #FF5733;
                    color: black;
                    transition-duration: .7s;

                    .iconoHtml{
                        transform: scale(1.3) rotate(-135deg);
                        transition-duration: .7s; 
                    } 
                }       
            }

            .expCard2{
                font-size: 5rem;
                color: #4c3af0;

                .iconoCss{
                    transform: rotate(-45deg);
                }

                &:hover{
                    transform: scale(1.3) rotate(90deg);
                    background-color: #4c3af0;
                    color: black;
                    transition-duration: .7s;

                    .iconoCss{
                        transform: scale(1.3) rotate(-135deg);
                        transition-duration: .7s; 
                    } 
                }       
            }

            .expCard3{
                font-size: 5rem;
                color: #F682FE;

                .iconoSass{
                    transform: rotate(-45deg);
                }

                &:hover{
                    transform: scale(1.3) rotate(90deg);
                    transition-duration: .7s;
                    background-color: #F682FE;
                    color: black;

                    .iconoSass{
                        transform: scale(1.3) rotate(-135deg);
                        transition-duration:.7s;
                    } 
                }       
            }

            .expCard4{
                font-size: 5rem;
                color: #A626FF;

                .iconoBs{
                    transform: rotate(-45deg);
                }
                
                &:hover{
                    transform: scale(1.3) rotate(90deg);
                    background-color: #A626FF;
                    color: black;
                    transition-duration: .7s;
                    animation: iconosExp 1s ease-in-out;

                    .iconoBs{
                        transform: scale(1.3) rotate(-135deg); 
                        transition-duration: .7s;
                    }
                }
            }
        }
    }
}  

