.mainFormulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 2rem;
    text-align: center;
    margin: 20px;
    gap: 10px;

    .titulo2{
        text-align: center;
        font-size: 4rem;
        color: aliceblue;
        text-decoration: underline crimson;
    }



    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        #nombre{
            color: white;
            background-color: rgba(128, 128, 128, 0.541);
            border-color: rgba(128, 128, 128, 0.541);
            width: 60rem;
            height: 3rem;
            border-radius: 7px;
            margin-bottom: 1rem;
            padding: 5px;
        }
    
        #correo{
            font-family: 'Roboto', sans-serif;
            color: white;
            background-color: rgba(128, 128, 128, 0.541);
            border-color: rgba(128, 128, 128, 0.541);
            width: 60rem;
            height: 3rem;
            border-radius: 7px;
            margin-bottom: 1rem;
            padding: 5px;
        }
    
        #mensaje{
            color: white;
            background-color: rgba(128, 128, 128, 0.541);
            border-color: rgba(128, 128, 128, 0.541);
            width: 60rem;
            height: 18rem;
            border-radius: 7px;
            resize: none;
            margin-bottom: 1rem;
            padding: 5px;
         }
    
         #enviar{
            height: 3rem;
            width: 30%;
            text-align: center;
            display: block;
            margin: 0.1rem auto;
            border-radius: 7px;
            font-size: 1.5rem;
         }
    
        ::placeholder{
            color: aliceblue;
            padding-left: 10px;
            padding: 5px;
            font-size: 1.5rem;
        }
    }
}


@media(min-width:768px){

    #nombre, #correo{
        height: 7rem;
        width: 50rem;
        font-size: 2rem;
        padding-left: 10px;
    }
  
    #mensaje{
        width: 50rem;
        height: 21rem;
        font-size: 2rem;
        padding: 10px 0 0 10px;
    }
  
    #enviar{
        height: 5rem;
        width: 19rem;
        font-size: 2rem;
        left: 16rem;
    }
  
    ::placeholder{
        font-size: 2rem;
    }

}


@media(min-width:1024px){

    .mainFormulario{
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        div{
            max-width: 700px;
        }
    }
}