.mainAbout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
   
    .hombreSimple{
        width: 35%;
        height: auto;
        padding: 10px;
    }

    .titulo2{
        text-align: center;
        font-size: 3rem;
        color: $colorT;
        text-decoration: underline $colorP;
    }

    .aboutMe{
        color: $colorT;
        text-align: center;
        margin: 0 30px;
        font-size: 2rem;
    }
}

@media(min-width:768px){

    .mainAbout{
        margin-top: 50px;

        .titulo2, .aboutMe{
            font-size: 3rem;
        }
    }
}

@media(min-width:1024px){

    .mainAbout{
        flex-direction: row;
        justify-content: space-around;

        .hombreSimple{
            width: 20%;
            height: auto;
            margin-left: 100px;
        }

        div{
            max-width: 70%;
            text-align: center;
        }    
    }
}