.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $colorT;
    font-size: 2rem;
    text-align: center;
    margin: 20px;

    .titulo2{
        text-align: center;
        font-size: 4rem;
        color: $colorT;
        text-decoration: underline $colorP;
        @include mediaQuerry(md){
            margin-top: 100px;
        }
    }
}



