.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $colorT;
    font-size: 2rem;
    text-align: center;
    margin: 20px;

    .titulo2{
        text-align: center;
        font-size: 4rem;
        color: $colorT;
        text-decoration: underline $colorP;
    }
}


.flipContainer{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



   .card{
       border: solid 2px $colorP;
       background-color: #000000;
       padding: 25px;
       border-radius: 10px;
       display: inline-block;


       .dorso{
           color: $colorT;
           text-align: center;
           padding: 10px;
       }

       .frente{
           display: flex;
           justify-content: center;
           align-items: center;
   

           img{
               height: auto;
               width: 300px;
          }
       }
   }

}

@media(min-width:768px){


    .mainProjectos{
        margin-top: 100px;
   
        .card{
            position: relative;
            height: 100%;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border: none;
            background-color: transparent;
            border-radius: none;
            padding: 0;

            &:hover .dorso{
             transform: rotateY(0deg);
            }

            &:hover .frente img{
                transform: translateX(20%);
         }

            .frente{
             height: 100%;
             width: 100%;
             overflow: hidden;

             img{
                 width: 100%;
                 height: auto;
                 transition: 1s;
             }
            }

            .dorso{
                position: absolute;
                top: 0;
                left: 0;
                width: 70%;
                height: 97%;
                background: #0c0b33;
                transition: 1s;
                transform-origin: left;
                transform:  rotateY(-90deg);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                overflow: hidden;
                border-bottom-right-radius: 50%;

              button{
                 padding: 10px;
                    font-size: 2rem;
                 font-weight: 600;
             }
            }
        }
}
}


