.mainExp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    @include mediaQuerry(lg){
        flex-direction: row;
        padding: 50px;
    }

    div{
        
       .titulo2{
          text-align: center;
          font-size: 4rem;
          color: $colorT;
          text-decoration: underline $colorP;
      }

      .aboutMe{
          color: $colorT;
          text-align: center;
          margin: 10px 20px;
          font-size: 2rem;
      }
    }

    .mainExp img{
        margin-top: 50px;
    }
}

