@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans:wght@300&family=Radio+Canada&family=Roboto&family=Source+Sans+Pro:ital@1&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

html{
    font-size: 62.5%; 
    font-family: 'Radio Canada', sans-serif;
}

body{
    background: url(../img/footer_lodyas.png);
    background-repeat: repeat;
    height: 100%;
    background-position: center;
    background-size: cover;  
}

    header{
        grid-area: header;
    }

    main{
        grid-area: main;
        min-height: 100vh;
    }

    footer{
        grid-area: footer;
    }

    .grid1{
        grid-area: grid1;
        width: 100%;
        height: 100%;
    }

    .grid2{
        grid-area: grid2;
        width: 100%;
        height: 100%;
    }
    
    .grid3{
        grid-area: grid3;
        width: 100%;
        height: 100%;
    }

    .grid4{
        grid-area: grid4;
        width: 100%;
        height: 100%;
    }

    .grid5{
        grid-area: grid5;
        width: 100%;
        height: 100%;
    }

    .grid6{
        grid-area: grid6;
        width: 100%;
        height: 100%;
    }


    body{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: "header"
                             "main"
                             "footer";
    }

    header nav ul{
        display: flex;
        list-style: none;
        color: aliceblue;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        padding-top: 20px;
    }

    /* header nav ul li{
        border: 2px solid rgb(255, 254, 254) ;
        padding: 7px;
        background-color: rgb(85, 84, 84);
        border-radius: 5px;
        box-shadow: 3px;
    } */

    a{
        text-decoration: none;
        color: aliceblue;
        font-size: 2rem;
    }

    a:visited{
        color: aliceblue;
    }

    ul .seleccionado{
        background-color: crimson;
    }

    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: aliceblue;
        font-size: 2rem;
        text-align: center;
        margin: 20px;
    }

    span{
        color: crimson;
        font-style: italic;
    }

    .animacion{
        overflow: hidden;
        border-right: .2em solid crimson;
        white-space: nowrap;
        font-size: 2rem;
        width: 0;
        animation: typing 2s steps(30, end) forwards,
                   blink 1s infinite;
    }

    @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }

    @keyframes blink {
        from { border-color: transparent }
        to { border-color: crimson; }
      }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .copy{
        color: aliceblue;
        font-size: 1.5rem;
    }

    .mainAbout{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hombreSimple{
        width: 60%;
        height: auto;
        padding: 50px;
    }

    .titulo2{
        text-align: center;
        font-size: 4rem;
        color: aliceblue;
        text-decoration: underline crimson;
    }

    .aboutMe{
        color: aliceblue;
        text-align: center;
        margin: 10px 20px;
        font-size: 2rem;
    }



    .gridConteiner{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "grid1"
        "grid2"
        "grid3"
        "grid4"
        "grid5"
        "grid6";
        margin: 30px 60px;
        gap: 10px;
        
    }

    .grid6{
        display: none;
    }

    .card{
        border: solid 2px crimson;
        background-color: #000000;
        padding: 25px;
        border-radius: 10px;
    }

    .dorso{
        color: aliceblue;
        text-align: center;
        padding: 10px;
    }

    


    .formulario{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    #nombre{
        color: white;
        background-color: rgba(128, 128, 128, 0.541);
        border-color: rgba(128, 128, 128, 0.541);
        width: 30rem;
        height: 3rem;
        border-radius: 7px;
        margin-bottom: 1rem;
        padding: 5px;
    }

    #correo{
        font-family: 'Roboto', sans-serif;
        color: white;
        background-color: rgba(128, 128, 128, 0.541);
        border-color: rgba(128, 128, 128, 0.541);
        width: 30rem;
        height: 3rem;
        border-radius: 7px;
        margin-bottom: 1rem;
        padding: 5px;
    }

    #mensaje{
        color: white;
        background-color: rgba(128, 128, 128, 0.541);
        border-color: rgba(128, 128, 128, 0.541);
        width: 30rem;
        height: 18rem;
        border-radius: 7px;
        resize: none;
        margin-bottom: 1rem;
        padding: 5px;
     }

     #enviar{
        height: 3rem;
        width: 11rem;
        text-align: center;
        display: block;
        margin: 0.1rem auto;
        position: relative;
        left: 10rem;
        border-radius: 7px;
     }

    ::placeholder{
        color: aliceblue;
        padding-left: 10px;
        padding: 5px;
        font-size: 1.5rem;
    }

    .tecnologias{
        height: 15%;
        width: auto;
        padding: 50px;
    }

    .mainExp{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }

    .mainExo img{
        margin-top: 50px;
    }



@media(min-width:768px){


  /* header{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.26);
      position: fixed;
      width: 100%;
      height: 70px;
      z-index: 999;
  } */

  a:hover{
      color: crimson;
  }

  header nav ul{
      padding: 0 30px;
  }

  header nav ul li{
    border: 0;
    background-color: unset;
    padding: 7px;
}

  .mainProjectos{
      margin-top: 100px;
      z-index: -999;
  }

  .mainAbout{
      margin-top: 100px;
  }

  .gridConteiner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "grid1 grid2"
    "grid3 grid4"
    "grid5 grid6";
  }

  .grid6{
      display: block;
  }


  .flipContainer{
    background-color: transparent;
    height: 100%;
    width: auto;
    perspective: 800px;
}

.card{
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    border: 0;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

.flipContainer:hover .card {
    transform: rotateY( 180deg ) ;
    transition: transform 1.5s;
  }

  .frente,
  .dorso {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    font-size: 2rem;
    backface-visibility: hidden;
    
  }

  .dorso {
    background: #000000;
    color: white;
    transform: rotateY( 180deg );
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .dorso button{
      width: 8rem;
      height: 5rem;
      font-size: 2rem;
  }





  .home, .animacion{
      font-size: 3rem;
  }

  .titulo2, .aboutMe{
      font-size: 3rem;
  }

  #nombre, #correo{
      height: 7rem;
      width: 50rem;
      font-size: 2rem;
      padding-left: 10px;
  }

  #mensaje{
      width: 50rem;
      height: 21rem;
      font-size: 2rem;
      padding: 10px 0 0 10px;
  }

  #enviar{
      height: 5rem;
      width: 19rem;
      font-size: 2rem;
      left: 16rem;
  }

  ::placeholder{
      font-size: 2rem;
  }

}


@media(min-width:1024px){
    

  .mainAbout{
      flex-direction: row;
  }

  .hombreSimple{
      width: 40%;
      height: auto;
  }

  .mainExp{
      flex-direction: row;
      padding: 150px;
  }

  .gridConteiner{
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
      "grid1 grid2 grid3"
      "grid4 grid5 grid6";
  }

  .mainFormulario{
      flex-direction: row;
      justify-content: space-around;
  }
  
  .mainFormulario div{
      max-width: 50%;
  }

}